$border-input: #002473;
$background-input:#edf2f5;
$primario-claro-3:#9FA8BE;
$icon-color:#000000;
$white  : #FFFFFF;
$yellow : #FFDD00;
$blue-1 : #002473;
$blue-2 : #3369e8;

  /* Monocromas */
  $negro: #262B38;
  $gris-o: #4D4D4D;
  $gris: #717171;
  $gris-c: #898F9E;
  $gris-azul: #ABB7D1;
  $gris-azul60: #ABB7D13C;
  $plata: #F5F6FA;
  $blanco: #FFFFFF;

  /* Primario */
  $primario: #0F285C;

  /* Secundario */
  $secundario: #FFDD00;

  /* Auxiliar */
  $auxiliar: #2F7ABF;

  /* Sombras */
  $sombra-1: #0C1F50;
  $sombra-2: #091944;
  $sombra-3: #061239;
  $sombra-4: #030C2D;
  $sombra-5: #01051D;
  $sombra-s1: #FFD700;
  $sombra-s2: #FFD100;
  $sombra-s3: #FFCB00;
  $sombra-s4: #FFC500;

  /* Claros */
  $claro-1: #3F517D;
  $claro-2: #6F7D9D;
  $claro-3: #9FA8BE;
  $claro-4: #CFD4DE;
  $claro-5: #E7E9EE;

  /* Acciones */
  $advertencia: #F76800;
  $error: #D50707;
  $exitoso: #A5DC86;